html,
body {
    background-color: powderblue;
    height: 90%;
}


/* suburbs drop-down menu */

.suburbs .suburbButton {
    position: absolute;
    width: 10%;
    height: 30px;
    background: white;
    top: 53%;
    left: 50%;
    margin-left: -15%;
}

.dropdownSuburbs {
    display: none;
    position: absolute;
    width: 10%;
    height: 30px;
    background: white;
    top: 53%;
    left: 50%;
    margin-left: -15%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownSuburbs a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownSuburbs a:hover {
    background-color: #ddd
}

.suburbs:hover .dropdownSuburbs {
    display: block;
}

.ratings:hover .suburbButton {
    background-color: #3e8e41;
}


/* ratings drop-down menu */

.ratings .ratingButton {
    position: absolute;
    width: 10%;
    height: 30px;
    background: white;
    top: 53%;
    left: 50%;
    margin-left: -5%;
}

.dropdownRatings {
    display: none;
    position: absolute;
    width: 10%;
    height: 30px;
    background: white;
    top: 53%;
    left: 50%;
    margin-left: -5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownRatings a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownRatings a:hover {
    background-color: #ddd
}

.ratings:hover .dropdownRatings {
    display: block;
}

.ratings:hover .ratingButton {
    background-color: #3e8e41;
}


/* Header and links */

.header {
    background-color: #F1F1F1;
    text-align: center;
    top: 0;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F1F1F1;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.left {
    float: left;
}

li a.right {
    float: right;
}

li a:hover {
    background-color: white;
}

.img {
    position: relative;
    left: 39%;
    top: 15%;
}


/*.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 1px;
    background-color: #c8e0e6;
    text-align: center;
    width: 100%;
}*/

.footer {
    /*This is the other way of doing the footer*/
    position: relative;
    clear: both;
    right: 8px;
    top: 8px;
    padding: 1px 8px;
    background-color: #c8e0e6;
    text-align: center;
    width: 100%;
}


/* Geolocation button */

.geoButton {
    position: absolute;
    width: 10%;
    height: 30px;
    background: white;
    top: 53%;
    left: 50%;
    margin-left: 5%;
}


/* Container for login inputs */

.containerLogin {
    position: absolute;
    padding: 10px;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
}


/* Inputs for login page */

input[type=text],
input[type=password],
.containerLogin select {
    width: 96%;
    padding: 10px;
    border-style: solid;
}

.containerLogin select {
    width: 99%;
}


/* container for search bar */

.searchContainer {
    position: absolute;
    width: 31%;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -15%;
}

.searchContainer search {
    float: left;
    width: 60%;
}

.searchContainer submitSearch {
    float: right;
    width: 40%;
}

.signUpButton {
    float: right;
    height: 30px;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
}

.signUpButton {
    background-color: #00ff00;
}

.cancelButton {
    background-color: #ff0000;
}


/* Search results Page CSS */

.result_block {
    /*Properties for the container of results.*/
    position: relative;
    bottom: 17px;
    float: left;
    padding: 28px 7px;
    min-width: 300px;
    width: 62%;
}

.result {
    /*Affects each result div.*/
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    background-color: white;
    margin: 8px;
    width: 350px;
    height: 200px;
    padding: 0px 10px;
    cursor: pointer;
    /*Changes the cursor to be a pointer when hovered over to indicate that clicking it has an action.*/
}

.result h3 {
    text-align: center;
}

.result p {
    font-size: 17px;
    text-align: justify;
}

#map {
    position: relative;
    float: right;
    right: 20px;
    top: 20px;
    width: 35%;
    height: 104%;
}


/* Sample Results CSS */

.center_block {
    float: left;
    padding: 20px 7px;
    max-width: 60%;
    width: 100%;
    height: 13.5cm;
    position: relative;
    top: 24px;
}

.center_block h1 {
    text-align: center;
    position: relative;
    bottom: 1cm;
}

.review {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    width: 96%;
    margin: 8px;
    padding: 0px 10px;
}

.center_block p {
    font-size: 16px;
    text-align: justify;
}